<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/a31a3795-e5b2-4654-8cb5-02c4245bc748/resourcegroups/shawnathaizz/providers/Microsoft.Web/sites/ShawnaThaiEiei20171120040438</ResourceId>
    <ResourceGroup>shawnathaizz</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://shawnathaieiei20171120040438.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>shawnathaieiei20171120040438.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ShawnaThaiEiei20171120040438</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ShawnaThaiEiei20171120040438</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ShawnaThaiEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=shawnathaidpuz.database.windows.net;Initial Catalog=ShawnaThai;Persist Security Info=True;User ID=adminmeow;Password=Meow1234" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ShawnaThai_Eiei.Models.ShawnaThaiEntities, ShawnaThai Eiei" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ShawnaThai_DB_Azure_V3Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model2.csdl|res://*/Models.Model2.ssdl|res://*/Models.Model2.msl;provider=System.Data.SqlClient;provider connection string="data source=shawnathaidpuz.database.windows.net;initial catalog=ShawnaThai;persist security info=True;user id=adminmeow;password=Meow1234;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ShawnaThaiEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string="Data Source=shawnathaidpuz.database.windows.net;Initial Catalog=ShawnaThai;Persist Security Info=True;User ID=adminmeow;Password=Meow1234"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>