

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>สมัครสมาชิก - ชาวนาไทย</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Bootstrap/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="~/Bootstrap/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <!-- Custom styles for this template -->
    <link href="~/Bootstrap/css/agency.min.css" rel="stylesheet">
</head>
<body id="page-top">

    <!-- Header -->
    <header class="masthead">
            <div class="intro-text">

                <div class="intro-heading">ลงทะเบียน</div>
                <center>

                    <form id="contactForm" name="sentMessage" novalidate>

                        <div class="form-group">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control" id="name" type="text" placeholder="ชื่อ *" required data-validation-required-message="ได้โปรดกรอก ชื่อ.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" id="name" type="text" placeholder="นามสกุล *" required data-validation-required-message="ได้โปรดกรอก  นามสกุล.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" id="name" type="text" placeholder="ชื่อผู้ใช้*" required data-validation-required-message="ได้โปรดกรอก ชื่อผู้ใช้.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" id="name" type="text" placeholder="พาสเวิร์ด*" required data-validation-required-message="ได้โปรดกรอก พาสเวิร์ด.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" id="name" type="text" placeholder="โทรศัพท์ *" required data-validation-required-message="ได้โปรดกรอก โทรศัพท์.">
                                    <p class="help-block text-danger"></p>
                                </div>


                                <div class="form-group">
                                    <input class="form-control" id="name" type="text" placeholder="E-mail *" required data-validation-required-message="ได้โปรดกรอก E-mail.">
                                    <p class="help-block text-danger"></p>
                                </div>

                                <div class="form-group">
                                    <input class="form-control" id="name" type="text" placeholder="เลขบัตรประชาชน *" required data-validation-required-message="โปรดใส่เลขบัตรประชาชน">

                                    <div class="form-group">
                                        <input type=file name=browse style="display: none;">
                                        <input type=text name=file value="">
                                        <input type=button onClick="browse.click();file.value=browse.value;" value="เลือกไฟล์รูปบัตรประชาชน">

                                        <p class="help-block text-danger"></p>

                                    </div>

                                    <div class="clearfix"></div>
                                    <div class="col-lg-12 text-center">
                                        <div id="success"></div>
                                        <button id="sendMessageButton" class="btn btn-xl" type="submit">ลงทะเบียน</button>
                                    </div>
                                </div>
                    </form>
            </div>
        </div>
        <center />
    </header>





    <!-- Bootstrap core JavaScript -->
    <script src="~/Bootstrap/vendor/jquery/jquery.min.js"></script>
    <script src="~/Bootstrap/vendor/popper/popper.min.js"></script>
    <script src="~/Bootstrap/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/pdfobject.js"></script>

    <!-- Plugin JavaScript -->
    <script src="~/Bootstrap/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Contact form JavaScript -->
    <script src="~/Bootstrap/js/jqBootstrapValidation.js"></script>
    <script src="~/Bootstrap/js/contact_me.js"></script>
    <!-- Custom scripts for this template -->
    <script src="~/Bootstrap/js/agency.min.js"></script>
</body>
</html>

